<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible"content="ie=edge"> 
    <link href="https://fonts.googleapis.com/css2?family=Mulish&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/notfound.css">
    <title>Error 404</title>
</head>

<body>
    <header class="header">
        <a href="../index.html">
        <img class="header__img" src="https://raw.githubusercontent.com/platzi/PlatziVideo/feature/react/src/assets/static/logo-platzi-video-BW2.png" alt="">     
        </a>
    </header>

    <div class="main">
        <!-- <img src="https://images.pexels.com/photos/4012960/pexels-photo-4012960.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt=""> -->
        <h2 class="text animated main">Oops!... Error 404</h2>
        <h3 class="text info">Disculpa, la página no esta disponible</h3>
    </div>

    <footer class="footer">
        <a href="./notfound.html">Términos de uso</a>
        <a href="./notfound.html">Declaración de privacidad</a>
        <a href="./notfound.html">Centro de ayuda</a>
    </footer> 
</body>
</html>